
    <!-- Banner -->
    <section class="banner" style="background-image:url({{content.field_background_image.0}})">
        <div class="container">
          <div class="row">
            <div class="col-md-8 banner-content">
              <h1 class="animated fadeInUpBig">{{content.field_title.0}}</h1>
              <p class="animated fadeInDownBig">
                {{content.field_description.0}}
              </p>
              <ul class="animated fadeInRightBig">
                <li><a href="/">Home</a><i class="fa fa-angle-right mx-2"></i></li>
                <li>{{content.field_title.0}}</li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    <!-- Banner End --> 